
h1 {
    text-align: center;
}

.chart-container {
    width:100%;
}

.chart-left {
    float:left;
    width:400px;
}

.chart-right {
    float:right;
    width:400px;
}

.chart-middle {
    margin:0 auto;
    width:400px;
}

.move-down {
    margin-top: 0px;
}