@import "landing"; //import is a CSS rule to include styles from external stylesheets
@import "album";
@import "collection";
@import "player_bar";
@import "buttons";
@import "profile";
@import "mixins_variables";

@mixin backgroundRadial {
  background: -webkit-radial-gradient( #2b1339, #380c77);
  background: radial-gradient( #2b1339, #380c77);
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  @include backgroundRadial;
  padding-bottom: 150px; //creates space for player bar at bottom (only on music pages)
}

// body {
//   font-family: 'Open Sans';
//   color: white;
//   min-height: 100%;
//   background: -webkit-radial-gradient( #2b1339, #380c77);
//   background: radial-gradient( #2b1339, #380c77);
//   padding-bottom: 150px; //creates space for player bar at bottom (only on music pages)
// }

body.landing {
  background: $background-purple;
  padding-bottom: 0; //we don't want player bar on landing page; so we don't want the 150px padding
}


//medium-purple: #7B46a3 - 123, 70, 163
//

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
    .navbar-nav { //styling navbar to highlight links on hover
      a {
        line-height: 45px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;
   
        &:hover {
           color: rgba(123, 70, 163, .9);
        }
      }
    }

}


body.landing .navbar {
  margin-bottom: 0;
}



