
<div class="chart-container">
    <!-- order matters for floats; put left and right first -->
    <div class="chart-left text-margin">Song Plays by Song Name</div>
    <div class="chart-right text-margin">Song Play Totals by Month</div>
    <div class="chart-middle text-margin">Song Play Totals by Day</div>

    <!-- order matters for floats; put left and right first -->
    <div class="chart-left" id="ChartSongCountByName">
    </div>

    <div class="chart-right" id="ChartSongCountByMonth">
    </div>

    <div class="chart-middle" id="ChartSongCountByDay">
    </div>

</div>
